[submodule "KediRNG"]
	path = KediRNG
	url = https://github.com/tyuXX/KediRNG.git
[submodule "tyuLIB"]
	path = tyuLIB
	url = https://github.com/tyuXX/tyuLIB.git
[submodule "TowerDefenseSquared"]
	path = TowerDefenseSquared
	url = https://github.com/tyuXX/TowerDefenseSquared.git
[submodule "DDCCrypterJS"]
	path = DDCCrypterJS
	url = https://github.com/tyuXX/DDCCrypterJS.git
[submodule "ClinkerGame"]
	path = ClinkerGame
	url = https://github.com/tyuXX/ClinkerGame.git
[submodule "DDCGrapherJS"]
	path = DDCGrapherJS
	url = https://github.com/tyuXX/DDCGrapherJS.git
[submodule "GravSim"]
	path = GravSim
	url = https://github.com/tyuXX/GravSim.git
[submodule "2048"]
	path = 2048
	url = https://github.com/tyuXX/2048.git
[submodule "DDCMUN"]
	path = DDCMUN
	url = https://github.com/tyuXX/DDCMUN.git
[submodule "Chess"]
	path = Chess
	url = https://github.com/tyuXX/Chess.git
